.venv
__pycache__
.keyword_cache
faiss_index

x4-foundations-wiki*
x4_wiki_corpus.json
x4_wiki_chunks.json
x4_keywords.json
x4_keywords_refined.json

failed_chunks.log

console.log
test_results.md
x4_changelog_chunks.json
